sudo apt install -y \
libpango1.0-0 \
libcairo2 \
libpq-dev \
apache2 \
python-pip \
build-essential \
libpangocairo-1.0-0 \
libffi-dev \
libapache2-mod-wsgi \

sudo export PYTHONPATH="/opt/graphite/lib/:/opt/graphite/webapp/"
sudo pip install --no-binary=:all: https://github.com/graphite-project/whisper/tarball/master
sudo pip install --no-binary=:all: https://github.com/graphite-project/carbon/tarball/master
sudo pip install --no-binary=:all: https://github.com/graphite-project/carbon/tarball/master
sudo pip install --no-binary=:all: https://github.com/graphite-project/graphite-web/tarball/master

cat>>/tmp/graphite_vhost<<EOF
LoadModule wsgi_module modules/mod_wsgi.so

WSGISocketPrefix /var/run/wsgi

Listen 80
<VirtualHost *:80>

    ServerName graphite
    DocumentRoot "/opt/graphite/webapp"
    ErrorLog /opt/graphite/storage/log/webapp/error.log
    CustomLog /opt/graphite/storage/log/webapp/access.log common

    WSGIDaemonProcess graphite-web processes=5 threads=5 display-name='$%{GROUP}' inactivity-timeout=120
    WSGIProcessGroup graphite-web
    WSGIApplicationGroup $%{GLOBAL}
    WSGIImportScript /opt/graphite/conf/graphite.wsgi process-group=graphite-web application-group=$%{GLOBAL}

    WSGIScriptAlias / /opt/graphite/conf/graphite.wsgi

    # Alias /static/ /opt/graphite/static/
    Alias /static/ /opt/graphite/webapp/content/

    <Directory /opt/graphite/static/>
            Require all granted
    </Directory>

    <Directory /opt/graphite/webapp/content>
            Require all granted
    </Directory>

    <Directory /opt/graphite/conf/>
            Require all granted
    </Directory>
</VirtualHost>
EOF

sudo mv /tmp/graphite_vhost /etc/apache2/sites-available/graphite.conf

sudo rm /etc/apache2/sites-available/000-default.conf /etc/apache2/sites-enabled/000-default.conf
sudo ln -s /etc/apache2/sites-available/graphite.conf /etc/apache2/sites-enabled/

sudo PYTHONPATH=/opt/graphite/webapp django-admin.py migrate --settings=graphite.settings --run-syncdb

sudo cp /opt/graphite/conf/graphite.wsgi.example /opt/graphite/conf/graphite.wsgi

sudo chown www-data:www-data /opt/graphite/storage/graphite.db
sudo chown www-data:www-data /opt/graphite/webapp/
sudo chown www-data:www-data /opt/graphite/storage/log/webapp/*
sudo chown www-data:www-data /opt/graphite/storage/

sudo echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin', 'admin@example.com', 'testpass')" | sudo PYTHONPATH=/opt/graphite/webapp django-admin.py shell --settings=graphite.settings

sudo mkdir /mnt/whisper
sudo rm -rf /opt/graphite/storage/whisper
sudo ln -s /mnt/whisper /opt/graphite/storage/whisper

cp /opt/graphite/webapp/graphite/local_settings.py.example /opt/graphite/webapp/graphite/local_settings.py
sed -i 's/^#CLUSTER_SERVERS = .*$/CLUSTER_SERVERS = [${carbons}]/' /opt/graphite/webapp/graphite/local_settings.py

sudo apachectl -t && /usr/sbin/service apache2 restart

# sudo cp /opt/graphite/conf/carbon.conf.example /opt/graphite/conf/carbon.conf
# sudo cp /opt/graphite/conf/storage-schemas.conf.example /opt/graphite/conf/storage-schemas.conf
# sudo /opt/graphite/bin/carbon-cache.py start
